@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Edigama.UI.Controllers;
@model HomeController;




<html style="font-size: 16px;" lang="ua">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​​We Are Increasing Business Success With&nbsp;IT Solution, ​We advise leaders on strategy, marketing, organization and IT, ​Ready to get started?">
    <meta name="description" content="">
    <title>Main</title>
    <link rel="stylesheet" href="~/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/css/Main.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.5.0, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">



    <script type="application/ld+json">
    {
                    "context": "http://schema.org",
                    "type": "Organization",
                    "name": "Filenge"
    }</script>

    <meta name="theme-color" content="#2590f4">
    <meta property="og:title" content="Main">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-home-page="/home/index" data-home-page-title="Main" class="u-body u-xl-mode" data-lang="ua">
    <header class="u-clearfix u-header u-header" id="sec-7f3a">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" data-lang-en="{&quot;content&quot;:&quot;<svg class=\&quot;u-svg-link\&quot; viewBox=\&quot;0 0 24 24\&quot;><use xmlns:xlink=\&quot;http://www.w3.org/1999/xlink\&quot; xlink:href=\&quot;#menu-hamburger\&quot;></use></svg><svg class=\&quot;u-svg-content\&quot; version=\&quot;1.1\&quot; id=\&quot;menu-hamburger\&quot; viewBox=\&quot;0 0 16 16\&quot; x=\&quot;0px\&quot; y=\&quot;0px\&quot; xmlns:xlink=\&quot;http://www.w3.org/1999/xlink\&quot; xmlns=\&quot;http://www.w3.org/2000/svg\&quot;>    <g>        <rect y=\&quot;1\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>        <rect y=\&quot;7\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>        <rect y=\&quot;13\&quot; width=\&quot;16\&quot; height=\&quot;2\&quot;></rect>    </g></svg>&quot;,&quot;href&quot;:&quot;#&quot;}">
                    <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>

            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item">                  
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/home/index" style="padding: 18px 24px;">Main</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/LogIn/Login" style="padding: 18px 24px;">Log In</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/SignUp/Signup" style="padding: 18px 28px 18px 24px;">Sing Up</a>
                    </li>
                </ul>
            </div>



            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/home/index">Main</a>
                                <button class="u-button-style u-nav-link" href="/home/index">Main</button>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/LogIn/Login">Log In</a>
                                <button class="u-button-style u-nav-link" href="/LogIn/Login">Log In</button>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/SignUp/Signup">Sing Up</a>
                                <button id="subButton" type="submit" class="u-btn u-btn-submit u-button-style">Search</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>





        </nav>


        @if(Model.CoockieName == null)
        {
            <p class="u-text u-text-1">Hello there.</p>
        }
        else
        {
            <p class="u-text u-text-1">Hello @Model.CoockieName</p>
        }


        
    </header>
    <section class="u-align-right u-clearfix u-image u-shading u-section-1" id="carousel_a8d8" data-image-width="2053" data-image-height="1500">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-left u-border-20 u-border-palette-1-base u-container-style u-group u-opacity u-opacity-25 u-white u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1" data-lang-en="​​Visit us if you wont to convert&amp;nbsp;your text to QR-code<br>">
                        We are doing as possible as &nbsp;we can to improve this web-site<br>
                    </h2>
                    <p class="u-align-center u-text u-text-body-alt-color u-text-2" >If you want, you can do anything </p>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-section-2" id="carousel_5930">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-1">Put your text in the following text box, then press the "Convert to QR" button</h2>
            <img id="qrCodeImage" class="u-image u-image-round u-radius-50 u-image-1" src="images/photo1685136624.jpeg" alt="" data-image-width="1125" data-image-height="1500">
            <div class="u-form u-form-1">

                <form method="get" asp-action="ConvertToQr" asp-controller="Home" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="text" name="form">
                    <div class="u-form-email u-form-group u-label-none">
                        <label for="userText" class="u-label">User Text:</label>
                        <input required type="text" id="userText" placeholder="Enter your text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                    </div>
                    <div class="u-align-center u-form-group u-form-submit">
                        <button id="convertButton" class="u-btn u-btn-submit u-button-style">Convert to QR</button>
                    </div>
                </form>
                 
            </div>
            <div id="qrCodeContainer"></div>
                    <a id="downloadButton" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-2">Download</a>
         </div>
    </section>

    <script>

        document.getElementById("convertButton").addEventListener("click", function () {
          var userText = document.getElementById("userText").value;
          var directoryPath = "your/directory/path"; 
        
          var xhr = new XMLHttpRequest();
          xhr.open(
            "GET",
            "/Home/ConvertToQr?userText=" +
              encodeURIComponent(userText) +
              "&directoryPath=" +
              encodeURIComponent(directoryPath),
            true
          );
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              var qrCodeUrl = xhr.responseText;
              document.getElementById("qrCodeImage").src = qrCodeUrl;
            }
          };
          xhr.send();
        });



        document.getElementById("downloadButton").addEventListener("click", function () {
            var link = document.createElement("a");
            link.href = document.getElementById("qrCodeImage").src;
            link.download = "qr_code.png"; 

            var event = new MouseEvent("click");
            link.dispatchEvent(event);
        });

        

    </script>



</body>
</html>






